In [6]:
#Missing values / Empty cells
import pandas as pd

df = pd.read_csv('mine.csv')
#new_df = df.dropna()

#check for empty cells
print(df.isnull().sum())

#x = df['Calories'].mean()
#df.fillna({"Calories": x}, inplace=True) 

for col in ['Duration','Pulse','Maxpulse','Calories']:
    df[col].fillna(df[col].mean(),inplace=True) 
print(df) 

print(df.isnull().sum())

Duration    0
Date        2
Pulse       1
Maxpulse    2
Calories    4
dtype: int64
    Duration         Date       Pulse    Maxpulse    Calories
0         60  2023/10/01'  110.000000  130.000000  409.100000
1         60  2023/10/02'  117.000000  145.000000  479.000000
2         60  2023/10/03'  103.000000  135.000000  340.300000
3         45  2023/10/04'  109.000000  175.000000  282.400000
4         45  2023/10/05'  117.000000  150.000000  405.100000
5         60  2023/10/06'  103.000000  125.000000  300.000000
6         60  2023/10/07'  110.000000  135.000000  374.000000
7        400  2023/10/08'  114.000000  133.000000  302.859259
8         60  2023/10/09'  112.000000  126.000000  193.800000
9         30  2023/10/10'  102.000000  147.000000  234.800000
10        60  2023/10/11'  100.000000  129.000000  375.300000
11        60  2023/10/12'  109.000000  131.000000  345.600000
12        60  2023/10/13'  103.000000  136.000000  239.200000
13        60  2023/10/15'  120.000000  123.241379  240.800000
14        60  2023/10/15'  120.000000  100.000000  240.800000
15        60  2023/10/16'  118.833333  101.000000  243.800000
16        60  2023/10/17'  127.000000  102.000000  380.200000
17        45     20231018  142.000000  103.000000  241.400000
18        60  2023/10/19'  151.000000  104.000000  302.859259
19        60  2023/10/20'  162.000000  105.000000  300.900000
20        60  2023/10/21'  100.000000  106.000000  280.000000
21        60  2023/10/22'  103.000000  107.000000  302.859259
22        60          NaN  130.000000  108.000000  230.800000
23        60  2023/10/24'  134.000000  123.241379  239.700000
24        60  2023/10/25'  132.000000  110.000000  236.900000
25        60  2023/10/26'  135.000000  118.000000  278.800000
26        60  2023/10/27'  137.000000  119.000000  212.900000
27        60  2023/10/28'  138.000000  121.000000  345.900000
28        60  2023/10/29'  139.000000  122.000000  345.200000
29        60          NaN   92.000000  125.000000  380.500000
30        60  2023/10/31'   94.000000  126.000000  302.859259
Duration    0
Date        2
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

C:\Users\Administrator\AppData\Local\Temp\ipykernel_11824\1441399984.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [5]:
#Inconsistent data formats

df = pd.read_csv('mine.csv')

df['Date'] = pd.to_datetime(df['Date'], format='mixed')

print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0       NaN
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0       NaN     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16    NaN     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0       NaN
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0       NaN
22        60        NaT  130.0     108.0     230.8
23        60 2023-10-24  134.0       NaN     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60        NaT   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0       NaN

In [6]:
#Duplicate rows

#checks for duplicate rows
print(df.duplicated())

#removes duplicate dfs
#df.drop_duplicates(inplace = True)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
dtype: bool

In [2]:
#wrong data
#reset duration or

#remove row from df
for x in df.index:
  if df.loc[x, "Duration"] > 60:
    df.drop(x, inplace = True)
print(df.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0       NaN     240.8
14        60  2023/10/15'  120.0     100.0     240.8
15        60  2023/10/16'    NaN     101.0     243.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
18        60  2023/10/19'  151.0     104.0       NaN
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
21        60  2023/10/22'  103.0     107.0       NaN
22        60          NaN  130.0     108.0     230.8
23        60  2023/10/24'  134.0       NaN     239.7
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
29        60          NaN   92.0     125.0     380.5
30        60  2023/10/31'   94.0     126.0       NaN

In [5]:
#Unnecessary columns not relevant to analysis
columns_to_drop = ['Date']
new_df = df.drop(columns= columns_to_drop)
print(new_df.to_string())

    Duration  Pulse  Maxpulse  Calories
0         60  110.0     130.0     409.1
1         60  117.0     145.0     479.0
2         60  103.0     135.0     340.3
3         45  109.0     175.0     282.4
4         45  117.0     150.0     405.1
5         60  103.0     125.0     300.0
6         60  110.0     135.0     374.0
8         60  112.0     126.0     193.8
9         30  102.0     147.0     234.8
10        60  100.0     129.0     375.3
11        60  109.0     131.0     345.6
12        60  103.0     136.0     239.2
13        60  120.0       NaN     240.8
14        60  120.0     100.0     240.8
15        60    NaN     101.0     243.8
16        60  127.0     102.0     380.2
17        45  142.0     103.0     241.4
18        60  151.0     104.0       NaN
19        60  162.0     105.0     300.9
20        60  100.0     106.0     280.0
21        60  103.0     107.0       NaN
22        60  130.0     108.0     230.8
23        60  134.0       NaN     239.7
24        60  132.0     110.0     236.9
25        60  135.0     118.0     278.8
26        60  137.0     119.0     212.9
27        60  138.0     121.0     345.9
28        60  139.0     122.0     345.2
29        60   92.0     125.0     380.5
30        60   94.0     126.0       NaN